version: "3"

services:
  app:
    image: ngoduykhanh/powerdns-admin:latest
    volumes:
      - pda-data:/data
    container_name: powerdns_admin
    network_mode: host
    ports:
      - 9191:80
    logging:
      driver: json-file
      options:
        max-size: 100m
    environment:
      - SQLALCHEMY_DATABASE_URI=sqlite:////data/powerdns-admin.db
      - SECRET_KEY='v3z3FcFVAUQmkQKpX8v0PUsZhK'
      - GUNICORN_TIMEOUT=60
      - GUNICORN_WORKERS=2
      - GUNICORN_LOGLEVEL=DEBUG
      - OFFLINE_MODE=False
volumes:
  pda-data: