h1 {
    text-align: center;
    margin-bottom: 1.5em;
    font-weight: bold;
    line-height: 1.6em;
}
body{
    margin: 1%;
    align-items: center;
    align-self: auto;
}
#entrada label,input {
    margin-right: 5px;
    margin-bottom: 15px;
}

#acciones input {
    width: 50px;
    height: 50px;
    text-align: center;
}
div#resultado{
    /*margin-left: 20%; */
    display: inline;
    width: 80%;
    text-align: center;
    border: 1px solid black;
    display: inline-block;
    height: 100%;
    display: inline-block;
    max-height: 50%;
    max-width: 50%;
}

#wrapper {
    /*background-color: green; /* for visualization purposes */
    text-align: center;
  }
#entrada {
    /*background-color: red; /* for visualization purposes */
    display: inline-block;
    margin: 1%;
}
/*form  { display: table;}*/
p     { display: table-row;  }
label { display: table-cell; text-align: right; padding-right:10px}
input { display: table-cell; }

#button_ver{
    font-size: larger;
}

img#img_result {
    width: 100%;
}

.float {
    float:left;
    height:100%;
    margin-right:15px;
    display:flex;
    align-items:flex-end;
    shape-outside:inset(calc(100% - 100px) 0 0);
    position: fixed;
    bottom: 0;
    text-align: center;
}