h1 {
    text-align: center;
    margin-bottom: 1.5em;
    font-weight: bold;
    line-height: 1.6em;
}
html {
    font-family: 'Google Sans',sans-serif,Arial, Helvetica;
}

body{
    margin: 2%;
    align-items: center;
    align-self: auto;
}

.float {
    float:left;
    height:100%;
    margin-right:15px;
    display:flex;
    align-items:flex-end;
    shape-outside:inset(calc(100% - 100px) 0 0);
    position: fixed;
    bottom: 0;
    text-align: center;
}

#video_title_span {
    font-style: italic;
}

#contenedor-video {
    margin: 3% 15%
}

a {
    color: black;
}

li.main-point {
    padding-top: 0.5em;
}
